In [1]:
# from google.colab import drive
# drive.mount('/content/drive')

In [2]:
CURR_DIR = '/tf/Capstone Project/project-1' #Local Docker image

In [3]:
import pandas as pd
import numpy as np
import unicodedata
import pandas as pd
import numpy as np
import nltk
import unicodedata
import contractions
import os
from datetime import datetime
from num2words import num2words
print(os.getcwd())
os.chdir(CURR_DIR)
print(os.getcwd())

/tf/Capstone Project/Project-1
/tf/Capstone Project/project-1

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.style as style
import seaborn as sns
%matplotlib inline
import pingouin as pg
color = sns.color_palette()
from pandas.plotting import table
import scipy
from scipy.stats import pearsonr, spearmanr
from wordcloud import WordCloud, STOPWORDS
import datetime as dt
import plotly
import cufflinks as cf
import plotly.offline
!pwd

/tf/Capstone Project/project-1

In [5]:
def shape_df(df):
    print(f"Number of observations: {df.shape[0]}")
    print(f"Number of variables: {df.shape[1]}")
    print(f"Number of duplicates: {df.duplicated().sum()}")
    print(f"Are there any missing values {df.isnull().values.any()}")
    print("-----")
    print(df.dtypes.sort_values(ascending=True))
    print("------")
    print("Datatypes' proportion:")
    print(df.dtypes.value_counts(ascending=True))

In [6]:
def null_val(df):
    detect_null_val = df.isnull().values.any()
    if detect_null_val:
        null_abs = df.isnull().sum()
        null_pc = df.isnull().sum() / df.isnull().shape[0] *100
        null_concat = pd.concat([null_abs,null_pc], axis=1).round(2)
        null_concat.columns = ['Absolute', 'Percent']
        return null_concat.sort_values(by="Absolute", ascending=False)
    else:
        print("There are no missing values.")

In [7]:
def corrs(x):
    mask = np.triu(x.corr(), 1)
    plt.figure(figsize=(19, 9))
    return sns.heatmap(x.corr(), annot=True, vmax=1, vmin=-1, square=True, cmap='BrBG', mask=mask);

In [8]:
def unique_counts(df, thresh = 15):
    for column in df.columns:
        if df[column].nunique() < thresh:
            print(df.groupby([column], dropna = False).size(), '\n\n')

In [9]:
df_raw = pd.read_csv('./DATA/essay_sample-1.csv')

In [10]:
df_raw.head()

,projectid,teacher_acctid,title,short_description,need_statement,essay
0,fffee68353ade53e7692b23098096683,dddd29e34a0e4d889e65ccaa6efc44cf,Tag Readers for Kindergartners,If our classroom were to get these Tag readers...,"My students need 8 Tag Readers, Tag Reader boo...",My students enjoy hearing stories and this Tag...
1,fffe598a41270538eab48432513513ab,a2abddbac0cc4a11e8d791469c580d2c,Glazed Clay Pots,My students love to open their imaginations by...,My students need 50lbs of clay and some colorf...,My students love to open their imaginations by...
2,fffe426c60834b0ba2eb05f759d854da,0e853a40819781b2de5d410418674d02,Listening For Fluency,Upgrading our listening center by adding indiv...,My students need 6 listening center headphones...,Fifty per cent of my students have been left b...
3,fffe0bb8af3b9cd93046b49653cc923a,820b80005bdffb74fe85e4deb11c5a07,Building Our Library!,Do you know what it is like to have to come to...,My students need 10 subscriptions to Scholasti...,Do you know what it is like to have to come to...
4,fffdf9d286e715165b60674ac9d05c6c,e4787cea9545eb4393e936504e24d91e,Delete the Digital Drama,Did you know that an estimated 32% of teens re...,My students need an Apple iPad to view the Tee...,Did you know that an estimated 32% of teens re...

In [11]:
df_raw.describe()

,projectid,teacher_acctid,title,short_description,need_statement,essay
count,241538,241538,241529,241486,240960,241538
unique,241538,130321,217866,237720,234972,241325
top,e338b56cacda7d972e271421fdf16771,787720cc575e3204991b8ca18d312d2b,Listening Center,Do you remember what it was like the first tim...,My students need a document camera.,Reading is an essential life skill! I am a rea...
freq,1,95,213,48,289,7

In [12]:
shape_df(df_raw)

Number of observations: 241538
Number of variables: 6
Number of duplicates: 0
Are there any missing values True
-----
projectid            object
teacher_acctid       object
title                object
short_description    object
need_statement       object
essay                object
dtype: object
------
Datatypes' proportion:
object    6
dtype: int64

In [13]:
null_val(df_raw)

                   Absolute  Percent
need_statement          578     0.24
short_description        52     0.02
title                     9     0.00
projectid                 0     0.00
teacher_acctid            0     0.00
essay                     0     0.00

Considering the total size of the dataset we can drop the data points wiht no need_statement or short_descritpion

In [14]:
#Taking only 50000k datapoints to limit the processing time.
df = df_raw.copy().sort_values('projectid').head(50000)

### Some text cleaning functions used later

In [15]:
#Removing HTML Tags
from bs4 import BeautifulSoup

def remove_html_tags(text):
    print('Removing HTML Tags, the text can be as big as entire wepage')
    return BeautifulSoup(text, 'html.parser').get_text()


#Removing Accented characters
import unicodedata

def remove_accented_chars(text):
    print("Removing accented characters, which convert rÃ©sumÃ© to resumve")
    new_text = unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8', 'ignore')
    return new_text


# "Well this was fun! See you at 7:30, What do you think!!? #$@@9318@ ðŸ™‚ðŸ™‚ðŸ™‚" ==> 'Well this was fun See you at  What do you think  '


import re

def remove_special_characters(text, remove_digits=False):
    print("Removing special characters like smileys from the text")
    pattern = r'[^a-zA-Z0-9\s]' if not remove_digits else r'[^a-zA-Z\s]'
    text = re.sub(pattern, '', text)
    return text


#Removing stopwords
import nltk
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
new_stop_words = []
all_stop_words = stop_words.union(new_stop_words)

not_stopwords = {'no', 'not'}
final_stop_words = set(
    [word for word in all_stop_words if word not in not_stopwords]
)
def remove_stop_words(text):
    new_text = []
    for word in text.split():
        if word not in stop_words:
            new_text.append(word)
    return " ".join(new_text)
            
#Removing symbols (Without apostrophe)
symbols = "!\"#$%&()*+-./:;<=>?,@[\]^_`{|}~\n"
def remove_punctuation(text):
    for i in symbols:
        text = np.char.replace(text, i, ' ')
    return str(text)

#Convers popin' to poping
def convert_to_ing_words(text):
    new_text = []
    for word in text.split():
        if word[-3:] == "in'":
            new_text.append(word[:-3] + "ing")
        else:
            new_text.append(word)
    return " ".join(new_text)

#Conver Numeric values
def convert_numbers_to_words(text):
    new_text = []
    for word in text.split():
        if (word.isnumeric()):
            new_text.extend(num2words(word).split())
        else:
            new_text.append(word)
    return " ".join(new_text)

# My system keeps crashing his crashed yesterday ours crashes daily and presumably we are not lying ==>
#PorterStemmer ==>         my system keep crash hi crash yesterday our crash daili and presum we are not lie
#LancasterStemmer ==>         my system keep crash his crash yesterday our crash dai and presum we ar not lying
ps_ = nltk.porter.PorterStemmer()
ls_ = nltk.stem.LancasterStemmer()
import nltk
def simple_stemming(text, stemmer_type = 'ls'):
    if (stemmer_type == 'ps'):
        stemmer = ps_
    else:
        stemmer = ls_
    text = ' '.join([stemmer.stem(word) for word in text.split()])
    return text
            
    
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet

def pos_tag_wordnet(tagged_tokens):
    tag_map = {'j': wordnet.ADJ, 'v': wordnet.VERB, 'n': wordnet.NOUN, 'r': wordnet.ADV}
    new_tagged_tokens = [(word, tag_map.get(tag[0].lower(), wordnet.NOUN))
                            for word, tag in tagged_tokens]
    return new_tagged_tokens

def wordnet_lemmatize_text(text):
    wnl = WordNetLemmatizer()
    tagged_tokens = nltk.pos_tag(nltk.word_tokenize(text))
    wordnet_tokens = pos_tag_wordnet(tagged_tokens)
    lemmatized_text = ' '.join(wnl.lemmatize(word, tag) for word, tag in wordnet_tokens)
    return lemmatized_text

#### Checking Lengths

In [16]:
df.columns

Index(['projectid', 'teacher_acctid', 'title', 'short_description',
       'need_statement', 'essay'],
      dtype='object')

In [17]:
def put_word_count_column(df, column_name):
    new_column_name = column_name + '_word_count'
    df[new_column_name] = df[column_name].apply(lambda s: len(str(s).split()))
    return
put_word_count_column(df, 'title')
put_word_count_column(df, 'essay')
put_word_count_column(df, 'short_description')
put_word_count_column(df, 'need_statement')
print(df.shape)
df.describe()

(50000, 10)

,title_word_count,essay_word_count,short_description_word_count,need_statement_word_count
count,50000.000000,50000.00000,50000.000000,50000.000000
mean,5.144860,276.77018,36.990520,19.302440
std,2.241922,88.06406,8.922606,8.903887
min,1.000000,1.00000,1.000000,0.000000
25%,3.000000,211.00000,33.000000,13.000000
50%,5.000000,264.00000,36.000000,18.000000
75%,7.000000,333.00000,41.000000,24.000000
max,21.000000,1210.00000,241.000000,397.000000

#### Text Processing

In [18]:
#existing key-value pairs in contractions library
contractions.slang_dict

{'ima': 'I am going to',
 'gonna': 'going to',
 'gotta': 'got to',
 'wanna': 'want to',
 'woulda': 'would have',
 'gimme': 'give me',
 'asap': 'as soon as possible',
 'u': 'you',
 'r ': 'are ',
 'Im': 'I am',
 "I'm": 'I am',
 'Ima': 'I am about to',
 "Im'a": 'I am about to',
 "I'ma": 'I am about to',
 "I'm'a": 'I am about to',
 'Imo': 'I am going to',
 "Im'o": 'I am going to',
 "I'mo": 'I am going to',
 "I'm'o": 'I am going to',
 'Ive': 'I have',
 "I've": 'I have',
 'Illve': 'I will have',
 "Ill've": 'I will have',
 "I'llve": 'I will have',
 "I'll've": 'I will have',
 'Idve': 'I would have',
 "Id've": 'I would have',
 "I'dve": 'I would have',
 "I'd've": 'I would have',
 'amnt': 'am not',
 "amn't": 'am not',
 'aint': 'are not',
 "ain't": 'are not',
 'arent': 'are not',
 "aren't": 'are not',
 'cause': 'because',
 "'cause": 'because',
 'cant': 'cannot',
 "can't": 'cannot',
 'cantve': 'cannot have',
 "cant've": 'cannot have',
 "can'tve": 'cannot have',
 "can't've": 'cannot have',
 'couldve': 'could have',
 "could've": 'could have',
 'couldnt': 'could not',
 "couldn't": 'could not',
 'couldntve': 'could not have',
 "couldnt've": 'could not have',
 "couldn'tve": 'could not have',
 "couldn't've": 'could not have',
 'darent': 'dare not',
 "daren't": 'dare not',
 'daresnt': 'dare not',
 "daresn't": 'dare not',
 'dasnt': 'dare not',
 "dasn't": 'dare not',
 'didnt': 'did not',
 "didn't": 'did not',
 'dont': 'do not',
 "don't": 'do not',
 'doesnt': 'does not',
 "doesn't": 'does not',
 'eer': 'ever',
 "e'er": 'ever',
 'everyones': 'everyone is',
 "everyone's": 'everyone is',
 'gont': 'go not',
 "gon't": 'go not',
 'hadnt': 'had not',
 "hadn't": 'had not',
 'hadntve': 'had not have',
 "hadnt've": 'had not have',
 "hadn'tve": 'had not have',
 "hadn't've": 'had not have',
 'hasnt': 'has not',
 "hasn't": 'has not',
 'havent': 'have not',
 "haven't": 'have not',
 'heve': 'he have',
 "he've": 'he have',
 'hellve': 'he will have',
 "hell've": 'he will have',
 "he'llve": 'he will have',
 "he'll've": 'he will have',
 'hed': 'he would',
 "he'd": 'he would',
 'hedve': 'he would have',
 "hed've": 'he would have',
 "he'dve": 'he would have',
 "he'd've": 'he would have',
 'heres': 'here is',
 "here's": 'here is',
 'howre': 'how are',
 "how're": 'how are',
 'howd': 'how did',
 "how'd": 'how did',
 'howdy': 'how do you',
 "howd'y": 'how do you',
 "how'dy": 'how do you',
 "how'd'y": 'how do you',
 'hows': 'how is',
 "how's": 'how is',
 'howll': 'how will',
 "how'll": 'how will',
 'isnt': 'is not',
 "isn't": 'is not',
 'tis': 'it is',
 "'tis": 'it is',
 'twas': 'it was',
 "'twas": 'it was',
 'itll': 'it will',
 "it'll": 'it will',
 'itllve': 'it will have',
 "itll've": 'it will have',
 "it'llve": 'it will have',
 "it'll've": 'it will have',
 'itd': 'it would',
 "it'd": 'it would',
 'itdve': 'it would have',
 "itd've": 'it would have',
 "it'dve": 'it would have',
 "it'd've": 'it would have',
 'lets': 'let us',
 "let's": 'let us',
 'maam': 'madam',
 "ma'am": 'madam',
 'mayve': 'may have',
 "may've": 'may have',
 'maynt': 'may not',
 "mayn't": 'may not',
 'mightve': 'might have',
 "might've": 'might have',
 'mightnt': 'might not',
 "mightn't": 'might not',
 'mightntve': 'might not have',
 "mightnt've": 'might not have',
 "mightn'tve": 'might not have',
 "mightn't've": 'might not have',
 'mustve': 'must have',
 "must've": 'must have',
 'mustnt': 'must not',
 "mustn't": 'must not',
 'mustntve': 'must not have',
 "mustnt've": 'must not have',
 "mustn'tve": 'must not have',
 "mustn't've": 'must not have',
 'neednt': 'need not',
 "needn't": 'need not',
 'needntve': 'need not have',
 "neednt've": 'need not have',
 "needn'tve": 'need not have',
 "needn't've": 'need not have',
 'neer': 'never',
 "ne'er": 'never',
 'oclock': 'of the clock',
 "o'clock": 'of the clock',
 'ol': 'old',
 "ol'": 'old',
 'oughtnt': 'ought not',
 "oughtn't": 'ought not',
 'oughtntve': 'ought not have',
 "oughtnt've": 'ought not have',
 "oughtn'tve": 'ought not have',
 "oughtn't've": 'ought not have',
 'oer': 'over',
 "o'er": 'over',
 'shant': 'shall not',
 "shan't": 'shall not',
 "sha'nt": 'shall not',
 "sha'n't": 'shall not',
 'shallnt': 'shall not',
 "shalln't": 'shall not',
 'shantve': 'shall not have',
 "shant've": 'shall not have',
 "shan'tve": 'shall not have',
 "shan't've": 'shall not have',
 'shes': 'she is',
 "she's": 'she is',
 'shell': 'she will',
 "she'll": 'she will',
 'shed': 'she would',
 "she'd": 'she would',
 'shedve': 'she would have',
 "shed've": 'she would have',
 "she'dve": 'she would have',
 "she'd've": 'she would have',
 'shouldve': 'should have',
 "should've": 'should have',
 'shouldnt': 'should not',
 "shouldn't": 'should not',
 'shouldntve': 'should not have',
 "shouldnt've": 'should not have',
 "shouldn'tve": 'should not have',
 "shouldn't've": 'should not have',
 'sove': 'so have',
 "so've": 'so have',
 'sos': 'so is',
 "so's": 'so is',
 'somebodys': 'somebody is',
 "somebody's": 'somebody is',
 'someones': 'someone is',
 "someone's": 'someone is',
 'somethings': 'something is',
 "something's": 'something is',
 'thatre': 'that are',
 "that're": 'that are',
 'thats': 'that is',
 "that's": 'that is',
 'thatll': 'that will',
 "that'll": 'that will',
 'thatd': 'that would',
 "that'd": 'that would',
 'thatdve': 'that would have',
 "thatd've": 'that would have',
 "that'dve": 'that would have',
 "that'd've": 'that would have',
 'therere': 'there are',
 "there're": 'there are',
 'theres': 'there is',
 "there's": 'there is',
 'therell': 'there will',
 "there'll": 'there will',
 'thered': 'there would',
 "there'd": 'there would',
 'theredve': 'there would have',
 "thered've": 'there would have',
 "there'dve": 'there would have',
 "there'd've": 'there would have',
 'thesere': 'these are',
 "these're": 'these are',
 'theyre': 'they are',
 "they're": 'they are',
 'theyve': 'they have',
 "they've": 'they have',
 'theyll': 'they will',
 "they'll": 'they will',
 'theyllve': 'they will have',
 "theyll've": 'they will have',
 "they'llve": 'they will have',
 "they'll've": 'they will have',
 'theyd': 'they would',
 "they'd": 'they would',
 'theydve': 'they would have',
 "theyd've": 'they would have',
 "they'dve": 'they would have',
 "they'd've": 'they would have',
 'thiss': 'this is',
 "this's": 'this is',
 'thosere': 'those are',
 "those're": 'those are',
 'tove': 'to have',
 "to've": 'to have',
 'wasnt': 'was not',
 "wasn't": 'was not',
 'weve': 'we have',
 "we've": 'we have',
 'wellve': 'we will have',
 "well've": 'we will have',
 "we'llve": 'we will have',
 "we'll've": 'we will have',
 'wedve': 'we would have',
 "wed've": 'we would have',
 "we'dve": 'we would have',
 "we'd've": 'we would have',
 'werent': 'were not',
 "weren't": 'were not',
 'whatre': 'what are',
 "what're": 'what are',
 'whatd': 'what did',
 "what'd": 'what did',
 'whatve': 'what have',
 "what've": 'what have',
 'whats': 'what is',
 "what's": 'what is',
 'whatll': 'what will',
 "what'll": 'what will',
 'whatllve': 'what will have',
 "whatll've": 'what will have',
 "what'llve": 'what will have',
 "what'll've": 'what will have',
 'whenve': 'when have',
 "when've": 'when have',
 'whens': 'when is',
 "when's": 'when is',
 'wherere': 'where are',
 "where're": 'where are',
 'whered': 'where did',
 "where'd": 'where did',
 'whereve': 'where have',
 "where've": 'where have',
 'wheres': 'where is',
 "where's": 'where is',
 'whichs': 'which is',
 "which's": 'which is',
 'whove': 'who have',
 "who've": 'who have',
 'whos': 'who is',
 "who's": 'who is',
 'wholl': 'who will',
 "who'll": 'who will',
 'whollve': 'who will have',
 "wholl've": 'who will have',
 "who'llve": 'who will have',
 "who'll've": 'who will have',
 'whod': 'who would',
 "who'd": 'who would',
 'whodve': 'who would have',
 "whod've": 'who would have',
 "who'dve": 'who would have',
 "who'd've": 'who would have',
 'whyre': 'why are',
 "why're": 'why are',
 'whyd': 'why did',
 "why'd": 'why did',
 'whyve': 'why have',
 "why've": 'why have',
 'whys': 'why is',
 "why's": 'why is',
 'willve': 'will have',
 "will've": 'will have',
 'wont': 'will not',
 "won't": 'will not',
 'wontve': 'will not have',
 "wont've": 'will not have',
 "won'tve": 'will not have',
 "won't've": 'will not have',
 'wouldve': 'would have',
 "would've": 'would have',
 'wouldnt': 'would not',
 "wouldn't": 'would not',
 'wouldntve': 'would not have',
 "wouldnt've": 'would not have',
 "wouldn'tve": 'would not have',
 "wouldn't've": 'would not have',
 'yall': 'you all',
 "y'all": 'you all',
 'yallre': 'you all are',
 "yall're": 'you all are',
 "y'allre": 'you all are',
 "y'all're": 'you all are',
 'yallve': 'you all have',
 "yall've": 'you all have',
 "y'allve": 'you all have',
 "y'all've": 'you all have',
 'yalld': 'you all would',
 "yall'd": 'you all would',
 "y'alld": 'you all would',
 "y'all'd": 'you all would',
 'yalldve': 'you all would have',
 "yalld've": 'you all would have',
 "yall'dve": 'you all would have',
 "yall'd've": 'you all would have',
 "y'alldve": 'you all would have',
 "y'alld've": 'you all would have',
 "y'all'dve": 'you all would have',
 "y'all'd've": 'you all would have',
 'youre': 'you are',
 "you're": 'you are',
 'youve': 'you have',
 "you've": 'you have',
 'youllve': 'you shall have',
 "youll've": 'you shall have',
 "you'llve": 'you shall have',
 "you'll've": 'you shall have',
 'youll': 'you will',
 "you'll": 'you will',
 'youd': 'you would',
 "you'd": 'you would',
 'youdve': 'you would have',
 "youd've": 'you would have',
 "you'dve": 'you would have',
 "you'd've": 'you would have'}

In [19]:
def basic_cleaning(input_text):
    text = str(input_text)
    
#   Removing accented characters
    text = unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8', 'ignore')
    
#     Converting to lowercase
    text = text.lower().strip()
    
    #Doing stop words twice once before expanding once, after expanding
    text = remove_stop_words(text)
    
    #Fixing contractions
    text = contractions.fix(text)
    
    text = text.replace("&", 'and')
    text = text.replace("%", " percent")
    
    #Remove punctuation
    text = remove_punctuation(text)
    text = convert_numbers_to_words(text)
    
    #Replacing and character

    
    text = remove_punctuation(text)
    text = convert_to_ing_words(text)
    
    #Second stop words call
    text = remove_stop_words(text)    
    
    text = remove_punctuation(text)
    
    return text

In [20]:
def basic_text_processing(df, column_name):
    print('Processing column: ', column_name)
    new_column_name = column_name + "_changed"
    df[new_column_name] = df[column_name].apply(basic_cleaning)
    return

In [21]:
for col in ['title', 'short_description', 'need_statement', 'essay']: basic_text_processing(df, col)

Processing column:  title
Processing column:  short_description
Processing column:  need_statement
Processing column:  essay

In [22]:
df.columns

Index(['projectid', 'teacher_acctid', 'title', 'short_description',
       'need_statement', 'essay', 'title_word_count', 'essay_word_count',
       'short_description_word_count', 'need_statement_word_count',
       'title_changed', 'short_description_changed', 'need_statement_changed',
       'essay_changed'],
      dtype='object')

In [23]:
df.to_csv('After basic text processing.csv');

In [24]:
df[['need_statement_changed', 'short_description_changed', 'title_changed', 'essay_changed']].head()

,need_statement_changed,short_description_changed,title_changed,essay_changed
241537,students need word building centers twenty sea...,students need incentives make better faster re...,speedy shark reading club,students need incentives make better faster re...
241536,students need high quality books worth chasing...,students need high quality books worth chasing...,go read hrs,students need challenge read high quality exce...
241535,students need ipad mini support instruction st...,kindergarten exciting time learning especially...,technology upgrade must kindergartners ready,kindergarten exciting time learning especially...
241534,students need books native americans including...,remember learning martin luther king jr librar...,innovative lessons civil rights diversity,remember learning martin luther king jr librar...
241533,students need twenty two weather related books...,study weather fifth grade curriculum would lik...,meteorology matters,fabulous children school love research since t...

In [25]:
def stemm_(df, column_name):
    print('Processing column: ', column_name)
    new_column_name = column_name + "_stemmed"
    df[new_column_name] = df[column_name].apply(simple_stemming)
    return

In [26]:
for col in ['need_statement_changed', 'short_description_changed', 'title_changed', 'essay_changed']: stemm_(df, col)

Processing column:  need_statement_changed
Processing column:  short_description_changed
Processing column:  title_changed
Processing column:  essay_changed

In [27]:
df[['need_statement_changed_stemmed','short_description_changed_stemmed', 'title_changed_stemmed', 'essay_changed_stemmed']].head()

,need_statement_changed_stemmed,short_description_changed_stemmed,title_changed_stemmed,essay_changed_stemmed
241537,stud nee word build cent twenty seat stor sack,stud nee int mak bet fast read read system cur...,speedy shark read club,stud nee int mak bet fast read read system cur...
241536,stud nee high qual book wor chas verm goos gir...,stud nee high qual book wor chas verm goos gir...,go read hrs,stud nee challeng read high qual excel book n ...
241535,stud nee ipad min support instruct stay track ...,kindergart excit tim learn espec access child ...,technolog upgrad must kindergartn ready,kindergart excit tim learn espec access child ...
241534,stud nee book nat am includ thirty cop soft ra...,rememb learn martin luth king jr libr classroo...,innov lesson civil right divers,rememb learn martin luth king jr libr classroo...
241533,stud nee twenty two weath rel book act book in...,study weath fif grad curricul would lik stud r...,meteorolog mat,fab childr school lov research sint titl on sc...

In [28]:
df.to_csv('After Stemming.csv')

In [29]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizers = {}

In [30]:
def add_vectorize_column(df, column, tv):
    print('Given shape: ',df.shape)
    tv_matrix = tv.fit_transform(df[column].to_numpy())
    tv_matrix = tv_matrix.toarray()
    vocab = [column + '_' + i for i in tv.get_feature_names()]
    vectors = pd.DataFrame(np.round(tv_matrix, 2), columns=vocab)
    print('Shape of vectors generated: ', vectors.shape)
    return df.join(vectors)

In [31]:
#For Title Column
vectorizers['title'] = TfidfVectorizer(min_df = 0, max_df = 1., use_idf = True, max_features = 200)
df = add_vectorize_column(df, 'title_changed_stemmed', vectorizers['title'])
print('Final shape: ', df.shape)
df.to_csv('After title vectorization.csv')

Given shape:  (50000, 18)
Shape of vectors generated:  (50000, 200)
Final shape:  (50000, 218)

In [32]:
#For need statement
vectorizers['need_statement'] = TfidfVectorizer(min_df = 0, max_df = 1., use_idf = True, max_features = 500)
df = add_vectorize_column(df, 'need_statement_changed_stemmed', vectorizers['need_statement'])
print('Final shape: ', df.shape)
df.to_csv('After need statement vectorization.csv')

Given shape:  (50000, 218)
Shape of vectors generated:  (50000, 500)
Final shape:  (50000, 718)

In [33]:
#For need statement
vectorizers['short_description'] = TfidfVectorizer(min_df = 0, max_df = 1., use_idf = True, max_features = 500)
df = add_vectorize_column(df, 'short_description_changed_stemmed', vectorizers['short_description'])
print('Final shape: ', df.shape)
df.to_csv('After short description vectorisation.csv')

Given shape:  (50000, 718)
Shape of vectors generated:  (50000, 500)
Final shape:  (50000, 1218)

In [ ]:
#For need statement
vectorizers['essays'] = TfidfVectorizer(min_df = 0, max_df = 1., use_idf = True, max_features = 1000)
df = add_vectorize_column(df, 'essay_changed_stemmed', vectorizers['essays'])
print('Final shape: ', df.shape)
df.to_csv('After essays vectorisation.csv')

Given shape:  (50000, 1218)
Shape of vectors generated:  (50000, 1000)
Final shape:  (50000, 2218)